@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.App {
  min-height: 100vh;
  font-family: 'Lato', sans-serif, 18px, !important;
  font-weight: lighter !important;
  background-color: #e5ccc0;
  line-height: 30px;
  /* margin: 5px; */
  display: flex;
  /* grid-template-columns: 1fr 3fr; */
  /* grid-template-rows: auto 1fr; */
  /* grid-template-areas:  */
    /* "navbar navbar"
    "sidebar main"; */
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif, !important;
  font-weight: lighter !important;
}

.navbar {
  width: 100%;
  padding: 1rem;
  display: flex;
  height: 3.4em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333333;
  font-family: 'Lato', sans-serif;
  margin-top: -5px;
}

.sidebar {
  background-color: #333333;
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  max-width: max-content;
  width: 20%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  /* background-color: #111; */
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  /* margin-top: 2%; */
  padding: 10px;
  /* padding-right: 10px;  */
  padding-top: 5%;
  font-family: 'Lato', sans-serif;
}

.profile, dashboard {
  background-color: #e5ccc0;
  margin-left: 20%;
  padding: 15px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
}

button {
  font-family: 'Lato', sans-serif;
}

.profile1 {
  background-color: #e5ccc0;
  margin-left: 20%;
  padding: 15px;
  height: 100%;
  font-family: 'Lato', sans-serif;
  display: flex;
}


.nav-link {
  color: white !important;
  margin: 0 20vw;
}

ul {
  list-style-type: none;
}


form {
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  flex: 1;
  line-height: 40px;
}

input[type=text], [type=date] {
  display: inline-block;
  margin-top: -10px;
  width: 80%;
  font-size: 1.15rem;
  border-radius: 20px;
  line-height: 24px;
  border: 1px solid #c1beea;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

input[type=textarea] {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

@media (max-width: 1600px) {
  
  .App {align-items: center;}
}

